.called-list {
  min-height: calc(100vh + 354px);
  border-inline-start: 5px solid #000;
  margin: 0;
  font-size: 2rem;
  padding-inline-start: 0;
  list-style-position: inside;
  text-align: inline-start;
}

.called-list li {
  padding-inline-start: 5px;
}

/* th,
tr {
  font-size: 2rem;
} */
