
td {
  border: 1px solid #000;
}

th {
  border: 1px solid #000;
}

thead {
  background-color: rgb(196, 182, 218);
}

thead th {
  text-align: center;
  border: 1px solid #000;
}

thead td {
  text-align: center;
  border: 1px solid #000;
}

thead td:hover,
thead td.hover {
  background-color: rgb(196, 182, 218);
}

thead th:hover,
thead th.hover {
  background-color: rgb(73, 40, 126);
}

tbody th:hover,
tbody th.hover {
  background-color: rgb(216, 210, 25);
}

td:hover {
  background-color: rgb(206, 210, 134);
}



.called {
  background-color: rgb(134, 210, 134);
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
}

.lastCalled {
  transform: scale(2);
  background-color:  rgb(244, 124, 33);
}
