body {
  min-height: 100vh;
  text-align: center;
  font-family: "Wolpe Pegasus", Courier, monospace;
  /* "Courier New", */
  padding-bottom: 290px;
}

.birthchart-section-container {
  padding: 15px;
}

.owner {
  margin: 0;
  font-size: 2.56rem;
}

.list-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  list-style-type: none;
}

.list-group-item {
  padding: 7px 15px 15px;
  border: 1px black solid;
}

.icons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.icons-list .icon-item {
  /* margin-inline-end: 5px; */
  padding: 5px;
  background-color: black;
  color: #fff;
  margin-block-end: 10px;
  display: flex;
}

.icons-list .icon-item.called {
  /* background-color: black; */
  color: goldenrod;
}

.icons-list .icon-item:last-child {
  margin-inline-end: 0;
}

.icon-item .planet-name {
  font-size: 1rem;
  margin-block-start: 0;
  margin-block-end: 5px;
  font-weight: bold;
}

.icon-item .sign-name {
  margin: 0;
}

.icon-item .sign.icon {
  margin: 0;
  fill: currentColor;
  max-width: 18px;
  padding: 0px;
}

.chart {
  padding: 10px;
}

.cip-controls .delete-chart {
  margin-inline-end: 15px;
}

.bc-template {
  width: 100%;
  height: 800px;
  display: block;
  /* outline: solid 1px rgb(78, 75, 75); */
}

.row {
  display: flex;
  justify-content: space-between;
}

/* .sign.icon.chart {
} */

.chart-id {
  padding: 10px;
  font-size: 0.6rem;
}

.page-footer {
  bottom: 0;
  left: 0;
  padding-top: 0;
  width: 100%;
  height: 10%;
  position: fixed;
  z-index: 1;
}

svg,
path {
  cursor: default;
}

.controls {
  padding: 15px;
}

.footer-nav {
  display: flex;
  border: none;
  box-shadow: none;
  justify-content: space-around;
}

.footer-nav a {
  display: flex;
  margin-inline-end: 15px;
}
.footer-nav a:last-child {
  margin-inline-end: 0;
}

/* .btn-danger {
  background-color: #F44336 !important;
} */

.called.icon-item {
  background-color: #f4433641 !important;
}

.called .sign.icon path {
  fill: #1218bd;
}

.inner-word.sun {
  transform: rotate(-69deg);
}

.inner-word.moon {
  transform: rotate(71deg);
}

.inner-word.ascendant {
  transform: rotate(15deg);
}

.inner-word.mars {
  transform: rotate(24deg);
}

.inner-word.mercury {
  transform: rotate(-34deg);
}

.inner-word.venus {
  transform: rotate(-22deg);
}

.inner-word.jupiter {
  transform: rotate(50deg);
}

.inner-word.descendant {
  transform: rotate(42deg);
}

.inner-word.pluto {
  transform: rotate(-21deg);
}

.inner-word.neptune {
  transform: rotate(-42deg);
}

.inner-word.uranus {
  transform: rotate(-69deg);
}

.inner-word.saturn {
  transform: rotate(80deg);
}
